@font-face {
  font-family: "Chivo";
  font-weight: 300;
  src: url("../fonts/Chivo/Chivo-Light.woff2") format("woff2"),
       url("../fonts/Chivo/Chivo-Light.woff") format("woff");
}

@font-face {
  font-family: "Chivo";
  font-weight: 400;
  src: url("../fonts/Chivo/Chivo-Regular.woff2") format("woff2"),
       url("../fonts/Chivo/Chivo-Regular.woff") format("woff");
}

@font-face {
  font-family: "Chivo";
  font-weight: 700;
  src: url("../fonts/Chivo/Chivo-Bold.woff2") format("woff2"),
       url("../fonts/Chivo/Chivo-Bold.woff") format("woff");
}

@font-face {
  font-family: "Asul";
  font-weight: 400;
  src: url("../fonts/Asul/Asul-Regular.woff2") format("woff2"),
       url("../fonts/Asul/Asul-Regular.woff") format("woff");
}

@font-face {
  font-family: "Asul";
  font-weight: 700;
  src: url("../fonts/Asul/Asul-Bold.woff2") format("woff2"),
       url("../fonts/Asul/Asul-Bold.woff") format("woff");
}

.alpha {
    font-family: 'Chivo', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 0.9;
    -webkit-text-stroke: 3px #ffffff;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1.5px;
}

@screen md {
  .alpha {
    font-size: 140px;
  }
}

@screen xl {
   .alpha {
     font-size: 170px;
   }
}

.bravo {
    font-family: 'Chivo', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    -webkit-text-stroke: 3px #ffffff;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1.25px;
}

.charlie {
    font-family: 'Chivo', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 1.2;
    color: #ffffff;
}

@screen md {
  .charlie {
    font-size: 28px;
  }
}

@screen xl {
  .charlie {
    font-size: 36px;
  }
}

.paragraph-lg {
    font-family: 'Chivo', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.2;
}

.paragraph {
    font-family: 'Asul', times, serif;
    font-weight: 400;
    line-height: 1.45;
    font-size: 20px;
}

.button {
    font-family: 'Asul', times, serif;
    font-weight: 700;
    line-height: 1;
    font-size: 18px;
    position: relative;
    transition: color 0.3s;
}
