@import "./css/*";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
}

.button::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 400%;
  transform: translate(-11%, -20%);
  transform-origin: center;
  background-color: transparent;
  z-index: -1;
}

.button::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFC7DB;
  transition: width 0.3s;
}

.button:hover::after {
  width: 0;
}

.button:hover {
  color: #FFC7DB;
}

.transitionBackground {
  transition: background-color 0.5s linear;
}

.hover-fill-text::after {
  content: attr(data-text);
  position: absolute;
  @apply inset-0;
  top: 16px;
  @apply w-full;
  @apply h-full;
  -webkit-text-fill-color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover-fill-text:hover.hover-fill-text::after {
  opacity: 1;
}

.svg-shadow {
  filter: drop-shadow(20px 10px 50px rgba(0, 0, 0, 0.3));
}

.position-svg-1 {
  top: 30%;
  left: -25%;
  width: 70%;
}

.position-svg-2 {
  top: 72%;
  right: 18%;
}

.position-svg-3 {
  top: 97%;
  right: -8%;
}

.position-svg-4 {
  top: 25%;
  left: -7%;
  width: 200px;
}

.position-svg-5 {
  right: -4%;
  top: 60%;
}

.position-svg-6 {
  top: -35%;
  left: 8%;
  width: 17%;
}

.position-svg-7 {
  top: 130%;
  right: -12%;
}

.position-svg-8 {
  top: -4%;
  left: -8%;
  width: 35%;
}

.position-svg-9 {
  width: 30%;
  top: 40%;
  right: -15%;
}

.position-svg-10 {
  width: 25%;
  top: 72%;
  left: 9%;
}

.position-svg-11 {
  width: 10%;
  bottom: 9%;
  right: -17%;
}

.position-svg-12 {
  width: 10%;
  top: 58%;
  left: 5%;
}

@responsive {
  .ml-1\/12 {
    margin-left: 8.333333333%;
  }

  .-ml-1\/12 {
    margin-left: -8.333333333%;
  }

  .ml-2\/12 {
    margin-left: 16.666666666%;
  }

  .-ml-2\/12 {
    margin-left: -16.666666666%;
  }

  .ml-3\/12 {
    margin-left: 25%;
  }

  .-ml-3\/12 {
    margin-left: -25%;
  }

}

