@import "./css/*";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
}

.button::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 400%;
  transform: translate(-11%, -20%);
  transform-origin: center;
  background-color: transparent;
  z-index: -1;
}

.button::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 1px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFC7DB;
  transition: width 0.3s;
}

.button:hover::after {
  width: 0;
}

.button:hover {
  color: #FFC7DB;
}

@responsive {
  .ml-1\/12 {
    margin-left: 8.333333333%;
  }

  .ml-2\/12 {
    margin-left: 16.666666666%;
  }

  .ml-3\/12 {
    margin-left: 25%;
  }
}

